<!doctype html>
<html ng-app  = "safeKeys" ng-csp style="min-width:250px;">
  <head>
    <title>Safe Keys</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
      <div class="container">
            <h1>Safe Keys</h1>
            <div class="form-group" ng-controller="SmarfItemCtrl">
                <form novalidate class="simple-form" ng-submit = "createPassword()">
                    <div class="input-group input-group-sm">
                        <input type="text" ng-model="selectedItemName" class="form-control" placeholder="The configuration's name" tooltip="The password configuration name" tooltip-placement="bottom"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="ToggleConfiguration()"><span class="glyphicon glyphicon-cog"></span></button>
                        </span>
                    </div>
                    <br/>

                    <div ng-show="showSettings" class="panel panel-info">
                        <div class="panel-heading">Settings</div>
                        <div class="panel-body">
                            <input type="text" ng-model="formData.UserName" ng-readonly ="isEncrypted" class="form-control input-sm" placeholder="User Name"  tooltip="Your user name"  tooltip-placement="bottom"/>
                            <input type="text" ng-model="selectedItem.specialCharacters" class="form-control input-sm" placeholder="The special characters to use for your password" tooltip="The special characters to use for your password"  tooltip-placement="bottom"/>

                                <select ng-model="selectedItem.passwordSize" class="form-control input-sm" tooltip="Password Size"  tooltip-placement="bottom">
                                    <option value="16">16</option>
                                    <option value="12">12</option>
                                    <option value="8">8</option>
                                    <option value="6">6</option>
                                </select>

                            <button type="button" ng-click="renewPassword()" class="btn btn-default btn-lg btn-block btn-xs">Renew the password</button>
                            <a ng-click="goToSettings()">Settings</a>
                        </div>
                    </div>

                    <input type="password" id="secretKey" ng-model="secretKey"  class="form-control input-sm" placeholder="Type here your private secret key"/><br>

                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-play"></span></button>
                      </span>
                      <input id="password" ng-model="password" type="text" class="form-control" placeholder="Password">
                    </div>
                </form>
                <div>
                   <span ng-show="user">{{user.displayName}} | <a ng-click="logout()">Logout</a></span>
                   <span ng-hide="user"><a ng-click="login()">Login</a></span>
                </div>
                <div ng-show="warningMessage" class="alert alert-warning">{{warningMessage}}</div>
            </div>
        </div>

      <script src="js/libs/jquery-2.0.3.min.js"></script>
      <script src="js/libs/sha256.js"></script>
      <script src="js/libs/aes.js"></script>
      <script src="js/libs/enc-base64-min.js"></script>
      <script src="js/libs/bootstrap.min.js"></script>
      <script src="js/libs/angular.min.js"></script>
      <script src="js/libs/ui-bootstrap-tpls-0.7.0.min.js"></script>
      <script src="js/libs/firebase.js"></script>
      <script src="js/libs/firebase-simple-login.js"></script>
      <script src="js/localStorageExtension.js"></script>
      <script src="js/constants.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/services.js"></script>
  </body>
</html>

